<% layout('/layouts/boilerplate') %>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h3>Edit your Listining</h3>

                <form method="post" action="/listings/<%= list._id %>/?_method=PUT">
                    <div class="mb-3">
                        <label for="title" class="form-lable">Title</label>
                        <input type="text" name="listings[title]" class="form-control" value="<%= list.title %>">
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-lable">Description</label>
                        <textarea type="text" class="form-control"
                            name="listings[description]"> <%= list.description %></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-lable">Image Link</label>
                        <input type="text" name="listings[image]" class="form-control" value="<%=list.image%>">
                    </div>

                    <div class="row">
                        <div class="col-md-4">

                            <div class="mb-3">
                                <label for="price" class="form-lable">Price</label>
                                <input type="number" name="listings[price]" class="form-control"
                                    value="<%=list.price%>">
                            </div>
                        </div>

                        <div class="col-md-8">

                            <div class="mb-3">
                                <label for="country" class="form-lable">Country</label>
                                <input type="text" class="form-control" name="listings[country]"
                                    value="<%=list.country%>">
                            </div>
                        </div>

                    </div>


                    <div class="mb-3">
                        <label for="location" class="form-lable">Location</label>
                        <input type="text" class="form-control" name="listings[location]" value="<%=list.location%>">
                    </div>
                    <button class="btn btn-dark mb-2 mt-1 new-btn">Edit</button>
                </form>
            </div>
        </div>
    </body>