<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
    <link rel="stylesheet" href="\edit.css">
</head>
<body>
    <h3>Your Id: <%= chat._id%></h3>
    <p>This Chat is sent from: <%= chat.from %> to: <%= chat.to%></p> 

    <form method="post" class="i" action="/chats/<%= chat._id%>?_method=PUT">
         <textarea name="messg" rows="10" cols="40"><%= chat.messg %></textarea>
         <button>Edit</button>
     </form>

</body>
</html>
